table {
    max-width: 1250px;
    min-width: 900px;
    margin: 10px auto;
}

td {
    padding-inline: 5px;
    padding: 5px;
}

.anadir-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    display: flex;
}

.boton-accion {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.boton-anadir {
    object-fit: cover;
    max-width: 50%;
    display: block;
    margin: 0 auto;
    background-color: #147a25;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 20px;
}