.barra {
    display: flex;
    gap: 20px;
    background-color: #294b7e;
    padding: 15px 30px;
    font-size: 20px;
}

.user {
    display: flex;
    background-color: #294b7e;
    padding: 0px 15px
}

.cabezera {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #01294B;
}

.pestana {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 0px;
}

.info {
    margin-left: auto;
    padding-right: 30px;
}