.detalle-container {
    max-width: 1000px;
    margin: 30px auto;
    background: #f4f7ff;
    border: 2px solid #9e9e9e;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.detalle-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}

.detalle-body {
    padding: 25px;
}

.detalle-titulo {
    font-size: 45px;
    color: #222;
    margin-bottom: 20px;
    margin-top: 5px;
    text-align: center;
}

.detalle-precio {
    font-size: 30px;
    color: #147a25;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.detalle-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    font-size: 18px;
    color: #444;
    margin-bottom: 25px;
}

.detalle-descripcion {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 25px;
}

.destacado {
    color: #d4a017;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}