form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    padding: 20px;
    border: 2px solid #9e9e9e;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin: 10px auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.boton-anadir {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #246097;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    border-radius: 5px;
}

.boton-volver {
    padding: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin: 10px;
    display: flex;
    justify-content: center;
    color: #02203a;
    font-weight: bold;
    text-decoration: underline;
}

.textinput {
    height: 25px;
    font-size: 16px;
}