.ordenar-por {
    display: flex;
    justify-content: center;
    padding: 0px 0px 20px;
    gap: 10px;
}

.ordenar-por-select {
    height: 30px;
    font-size: 18px;
    background-color: #f4f7ff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid #4e4e4e;
    border-radius: 5px;
}

.ordenar-por-input {
    font-size: 16px;
    background-color: #f4f7ff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid #4e4e4e;
    border-radius: 5px;
}

.ordenar-por-boton {
    font-size: 16px;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid #4e4e4e;
    border-radius: 5px;
}