html,
body {
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e2ecff;
}

h1 {
    text-align: center;
    font-size: 45px;
    color: #02203a;
    font-weight: bold;
}

.blue-color {
    text-align: center;
    font-size: 20px;
    color: #02203a;
    font-weight: bold;
}

main {
    flex: 1;
}