.perfil-usuario {
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil-contenedor {
    background-color: #ffffff;
    padding: 35px 40px;
    margin: 30px auto;
    background: #f4f7ff;
    border: 2px solid #9e9e9e;
    border-radius: 8px;
    width: 420px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.perfil-imagen {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.perfil-administrador {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 20px;
    color: #c08d0b;
    font-weight: bold;
}

.perfil-imagen img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.perfil-datos {
    text-align: left;
}

.perfil-datos p {
    margin: 10px 0;
    font-size: 16px;
    color: #1b1b1b;
}

.perfil-datos strong {
    display: inline-block;
    width: 160px;
}

.boton-volver {
    background-color: #852623;
    padding: 10px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin: 30px 10px 0px;
    display: flex;
    justify-content: center;
}