.card-texto {
    width: 400px;
    padding: 20px;
    border: 2px solid #9e9e9e;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin: 20px auto;
    justify-content: center;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.boton-volver {
    background-color: #852623;
    padding: 10px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}